body {
    background-color:burlywood;
    font-family: sans-serif;
    float: left;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

h3{
    color: brown;
    text-decoration: underline;
}

.make{
    text-decoration: underline  
}
